package com.example.MineCraftTracker;

public final class Secrets1 {
    public static String MobileServiceUri = "Copy from portal";
    public static String MobileServiceKey = "Copy from portal";
    public static String GoogleProjectNumber = "Copy from Google API Console";
}
